html, body, * {
    margin: 0px;
    overflow: hidden;
}

.container {
    display: flex;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.brushSizes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="radio"] {
    margin: 1px;
}

.save {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.save:hover {
    background: black;
    color: white;
}

.open {
    position: absolute;
    top: 0;
    right: 75px;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.open:hover {
    background: black;
    color: white;
}

.colors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}

.colors-panel {
    display: flex;
}

button {
    margin: 1px;
    height: 25px;
    border: none;
    width: 100%;
    cursor: pointer;
}

#custom {
    margin: 10px auto;
    background: url("./assets/Colorwheel.svg") no-repeat;
    background-position: center;
    height: 32px;
}

#eraser {
    margin: 10px auto;
    background: url("./assets/eraser.svg") no-repeat;
    background-position: center;
}

#clrscr {
    margin: 10px auto;
    background: url("./assets/trash.svg") no-repeat;
    background-position: center;
}

#inspector {
    margin: 10px auto;
    background: url("./assets/inspector.svg") no-repeat;
    background-position: center;
}

#bucket {
    margin: 10px auto;
    background: url("./assets/bucket.svg") no-repeat;
    background-position: center;
}

canvas {
    border: 1px solid black;
}